[Unit]
Description=Practice App

[Service]
Type=simple
User=practice
Group=practice
Restart=on-failure
Environment=MIX_ENV=prod "PORT=4791"
Environment=LANG=en_US.UTF-8

WorkingDirectory=/home/practice/hw03
ExecStart=/home/practice/hw03/start.sh

[Install]
WantedBy=multi-user.target
