<div class="row">
  <div class="column">
    <p><%= link "← go back", to: "/" %></p>
    <h2>Arithmetic Results</h2>
    <%= if @status == :ok do %>
      <p><%= @expr %> = <%= @val %></p>
    <% else %>
      <p><%= @expr %> has a syntax error: <b><%= @val %></b></p> 
    <% end %>
  </div>
</div>

